# Requests and serves the password for the techutils@vsphere.local account
# used to run automated tasks against vSphere
# by Justus Grunow, 2024

[Unit]
Description=Credential Server

[Service]
Type=simple
ExecStart=/usr/local/bin/credentialServer.py

[Install]
WantedBy=multi-user.target
