# Generates and emails list of vSphere snapshots
# by Justus Grunow, 2024

[Unit]
Description=vSphere Snapshot Report

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/vsphereAutomation/snapshotReport.py \
  ${VSPHERE_USERNAME} \
  ${VSPHERE_ADDRESS} \
  ${SMTP_SERVER} \
  ${EMAIL_FROM} \
  ${EMAIL_TO}

[Install]
WantedBy=multi-user.target
