# Requests and serves the password used to connect to vSphere
# to run automated tasks
# by Justus Grunow, 2024

[Unit]
Description=vSphere Automation Credential Server

[Service]
Type=simple
ExecStart=/usr/local/bin/vsphereAutomation/credentialServer.py ${USERNAME}

[Install]
WantedBy=multi-user.target
