# Updates Priority VMs DRS group based on resource pool memberships
# by Justus Grunow, 2024

[Unit]
Description=Update vSphere Priority VMs DRS group

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/vsphereAutomation/DRSGroupMgmt.py \
  ${VSPHERE_USERNAME} \
  ${VSPHERE_ADDRESS} \
  ${SMTP_SERVER} \
  ${EMAIL_FROM} \
  ${EMAIL_TO}

[Install]
WantedBy=multi-user.target
