# Generates and emails list of vSphere snapshots
# by Justus Grunow, 2024

[Unit]
Description=vSphere Snapshot Report
Requires=vsphereSnapshotReport.service

[Timer]
Unit=vsphereSnapshotReport.service
OnCalendar=Mon..Fri *-*-* 09:00:00

[Install]
WantedBy=timers.target
