# Updates Priority VMs DRS group based on resource pool memberships
# by Justus Grunow, 2024

[Unit]
Description=Update vSphere Priority VMs DRS group
Requires=vsphereDRSGroupMgmt.service

[Timer]
Unit=vsphereDRSGroupMgmt.service
OnCalendar=*-*-* *:0/10:00

[Install]
WantedBy=timers.target
